**/.DS_Store
**/.idea/
**/target/
**/build/
**/*.iml
**/local.properties
code/Progress/.gradle/**
code/Splash/.gradle/**
code/bug/BugAndroid/.gradle/**
code/ListFragment/.gradle/**
code/cookies/CookieAndroid/.gradle/**
code/https/HttpsAndroid/.gradle/**
